/* Referencing: week 5, week 6, and week 7 source codes in the lecture notes */
/* Referencing: https://fontawesome.com/icons */
/* Referencing: https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design */

#map {
    height: 97vh;
}

.leaflet-interactive:focus {
    outline: none;
}

#map-legend {
    position: absolute;
    bottom: 130px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.map-legend-divider {
    margin: 5px 0;
    border-bottom: 1px solid #333;
    width: 100%;
}

.map-legend-key {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.map-legend-key a {
    color: inherit;
    text-decoration: none;
}

.map-legend-key a:hover {
    text-decoration: underline;
}

.map-legend-key i {
    color: inherit;
    font-size: 0.5em;
    padding-left: 4px;
}

.map-legend-color {
    width: 20px;
    height: 10px;
    margin-right: 5px;
}

#year-selector {
    position: absolute;
    bottom: 26px;
    left: 18px;
    z-index: 1000;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#year-label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}

.year-btn {
    background-color: #002F6C;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.year-btn:hover {
    background-color: #00449c;
    color: white;
}

.new-predicted-btn {
    background-color: #f90;
}

.new-predicted-btn:hover {
    background-color: #ffaa00;
}

#predict-button {
    background-color: #f90;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#charts {
    display: none;
}

#back-button {
    display: none;
}

#charts {
    position: relative;
    padding: 50px;
}

#pie-chart-container {
    position: relative;
    z-index: 2;
    background: #ffffff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#bar-chart-container {
    position: relative;
    z-index: 2;
    background: #ffffff;
    margin-bottom: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#time-series-chart-container, #stacked-area-chart-container, #migration-chart-container, #combined-chart-container {
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

/* mobile and tablet view */
@media screen and (max-width: 1024px) {

    #charts {
        padding: 20px;
    }

    #year-selector {
        width: 50px;
    }

    #year-label {
        font-size: 10px;
        font-weight: 1000;
        margin-bottom: 5px;
    }

    .year-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .year-btn {
        font-size: 9px;
        padding: 4px 8px;
        margin: 3px 0;
        width: 100%;
    }

    #predict-button {
        font-size: 9px;
        padding: 4px 8px;
        margin: 3px 0;
    }

    .flag-icon {
        bottom: 205px !important;
    }

    .flag-icon img {
        width: 70px !important;
        height: 43px !important;
    }

    .election-results-control {
        width: 90px !important;
        height: 280px !important;
        padding: 3px 5px !important;
        font-size: 10px !important;
    }

    #mini-pie-chart {
        height: 75px !important;
        width: 90px !important;
    }

    #map-legend {
        bottom: 40px;
        width: 75px;
        right: 5px;
        padding: 5px;
        border-radius: 5px;
    }

    .map-legend-divider {
        margin: 2px 0;
        border-bottom: 1px solid #333;
        width: 90%;
    }

    .map-legend-key {
        margin-bottom: 1px;
    }

    .map-legend-color {
        width: 10px;
        height: 5px;
        margin-right: 5px;
    }
}